.footer{
	padding: 1em;
	text-align: right;
}

body > .container{
	padding-top: 60px;
}

.udemy-color{
	color: #17aa1c;
}

.top-margin{
	margin-top: 1em;
}

.project-image{
	margin: auto;
	height: 35vh;
}

.add-padding{
	padding: 2em;
}